header{
    background-position: center;
    background-size: cover;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Light mode styles */
body.light-mode {
    background-color: #f9f9f9;
    color: #333;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #f9f9f9;
}
