header{
    background-position: center;
    background-size: cover;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul{

}
body{
    background-image: url("darkBackGround.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   // background-position: center;

}

