*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navBar-div .theLogoLine{
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.navBar-div .theLogoLine hr{
    width: 3px;
    height: 50px; /* Adjust the height as needed */
    background-color: black;
}
body{
    font-family: montserrat;

}
.navBar-div {
    /*background-position: center;*/
    width: 100%;
   display: flex;
    justify-content: space-between;
    height: 60px;
    padding-top: 20px;

}

.navBar-div .headerLogo{
    padding-left: 10px;
    align-self: flex-start; /* Move the logo to the start (left) */
    color: white;
    font-size: 20px;

}
.image-div .logoImage{
    height: 100vh;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    width: 88%;
    justify-content: flex-start;  /* to shift the image to the left start */
}

.overAll{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 15%);
    /*z-index: 1;*/
}
.superDiv{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("backgroundImage/desktop-1440x900.jpg") no-repeat center;
    background-size: cover;
    /*display: flex;*/
    height: 100vh;
    justify-content: flex-start;

}

.image-div{
    display: flex;
    justify-content: flex-start;
}
nav ul li a {
    /*padding: 5px 20px;*/ //TODO: to add the texts in to a box
    /*border: 1px solid ;*/ // to add the texts in to a box this two lines
    /*background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);*/
    /*color: #fff;*/
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 100%;

}

nav ul li a:hover{
    letter-spacing: 4px;
    color: orange;
    font-size: 120%;
    /*text-decoration: underline;*/
}
nav ul li {
    display: inline-block;
    margin-right: 50px;/* the space between the multiple anchor elements*/
}
.naV ul{
    align-self: flex-end; /* Move the navbar to the end (right) */
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Shift the li elements to the right */
}
.pageBody{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
}
.pageBody .pageHeader{
   font-size: 40px;
    color: darkgrey;

}
.pageBody button{
    height: 60%;
    color: antiquewhite;
}
.pageBody .getStarted {
    color: green;
    width: 50%;
    height: 400%;
    padding: 5px 10px;
    border: 5px solid;
    border-radius: 15px;
}





