.BodyImage-div img{
height:650px;
justify-content: flex-start;

}

.headerLogo{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.superDiv .body-Div{
    margin-top: 5%;

}
.superDiv{

}


