img{
height:650px;
justify-content: flex-start;

}

.superDiv .headerLogo{
    background-color: black;
    height:10px;
align-self: flex-end;
}
.superDiv .body-Div{
    margin-top: 5%;

}
.superDiv{

}


